
body {background-image:url("assets/img/bg.png"); background-repeat:repeat; color:black; font-size: 25px;
font-family:url("assets/other/hoefler text regular.ttf");}
body a {color:#DF014B;text-decoration:none;}
body a:hover {color:red;text-decoration:none;}
body h1 {color:darkred;font-size:35px;}
#header {margin:30px auto;}
#headstyle {font-size:45px;color:darkred;}
#subtitle {font-size:30px;margin-top:20px}
.language {color:white;font-size:30px;border-radius:20px;
  border-width: medium;display:inline-block;margin:35px 16px;
  background-color:darkred;padding: 30px 40px}
.language:hover {background-color:#AD3232;}
.bio {margin: 15px 70px;text-align: justify; width: 400px;display:inline-block;}
#mep {width:400px}
.contact {display:inline-block;margin:100px}
.works {margin: 15px 70px;width: 400px;display:inline-block;text-align:left;font-size:22px}
#poesia {text-align:justify;}
.worktitle {font-size:30px}
.titles {margin: 15px 70px;width:400px;display:inline-block;text-align:justify;}
.ensay {margin: 15px 180px;}
#electricas {display:none;text-align:justify;font-size:20px;width:770px}
#latino {display:none;text-align:justify;font-size:20px;width:770px}
#moon {margin-bottom:20px;width:600px;}
button {background: none!important;
  border: none;
  padding: 0!important;
text-decoration:none;
color:#DF014B; font-size:27px;}
button:hover {background: none!important;
  border: none;
  padding: 0!important;
text-decoration:none;
color:red; cursor:pointer;}
#espbio {padding-bottom: 100px;}
